# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

env
.env
.env.*.local
.env.localgeo-database/
*.osm.pbf

database/
tiles/
*.pbf
*.osm.pbf
*.mbtiles
*.pmtiles
*.sql